body{
  margin: 0px;
}
.navbar{
  background-color: #805730;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px;
}
.navbar-content a{
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 30px;
 margin: 0px 40px;
display: inline-block;
transition: 1s;
}
.navbar-content a:hover{
  transform: scale(1.1,1.1);
  color: greenyellow;

}
.cover{
  background-image: url(./img.jpg);
  background-position: center;
  background-size: cover;
  height: 300px;
  padding: 150px;
}
.cover h1{
  color: white;
  font-size: 50px;
text-transform: uppercase;
letter-spacing: 1mm;
}
.cover button{
  background-color: greenyellow;
  font-size: 30px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  padding: 10px 25px;
  cursor: pointer;
  transition: 1s;
}
.cover button:hover{
  transform: scale(1.1,1.1);
  background-color: blue;
  color: white;
}
.social-media{
  margin-top: 20px;
  font-size: 30px;
  
}
.social-media a{
  color: white;
  margin-right: 20px;
  
}
.social-media a:hover{
  transform: scale(1.1,1.1);
  color: black
  
  
}
.title{
  margin-top: 55px;
  font-size: 90px;
  font-weight: bold;
  text-align: center;
}
.Services{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.card{
  box-shadow: 1px 1px 20px black;
  border-radius: 10px;
  width: 30%;
  height: 250px;
  margin: 0px 20px;
  padding: 0px 10px;
  transition: 1s;
}
.card:hover{
  transform: scale(1.1,1.1);

}
.logo{
  font-size: 100px;
  text-align: center; 
  transition: 1s;
}
.card:hover .logo  {
  transform: rotate(360deg);
}
.info{
  font-weight: bold;
  
}
.info div{
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-items: center;

  
}
.title1{
  margin-top: 100px;
  font-size: 90px;
  font-weight: bold;
  text-align: center;
}
.projects{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  
}
.project-card {
  box-shadow: 1px 1px 20px black;
  width: 20%;
  margin: 20px;
}
.project-card img {
  width: 100%;
}
.project-info div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.h1{
  font-size: 90px;
  text-align: center;
}
.h2{
  font-size: 30px;
  text-align: center;
}
.contact{
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}
.contact-card{
  box-shadow: 1px 1px 20px;
  margin: 0px 40px;
  width: 30%;
  padding: 15px;
  height: 250PX;
  transition: 2s;
}
.contact-card:hover{
  transform: scale(1.1,1.1);
}
.log{
  font-size: 90px;
  text-align: center;
  transition: 1s;
}
.contact-card:hover .log{
  transform:rotate(360deg);
}
.contact-info h2{
  text-align: center;
  margin-top: 40px;
}
footer {
  background-color: #805730;
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
}

.social-media-container-footer a {
  color: black;
  margin: 0px 20px;
  font-size: 20px;
}

/* responive */

@media (max-width: 460px) {
  /* //// navbar ////  */
   .navbar {
  padding: 10px;
}
  .navbar h1{
  font-size: 15px;
}
.navbar-content a{
 
  font-size: 15px;
 margin: 0px 10px;

}

.cover{
  
  padding: 20px;
}
.cover h1{
  
  font-size: 20px;

}
.cover button{
 
  font-size: 10px;
  
}
.social-media{
  
  font-size: 20px;
  
}
.title{
  margin-top: 10px;
  font-size: 20px;
  
}
.Services{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
  align-items: center;
  flex-wrap: wrap;
}
.card{
  box-shadow: 1px 1px 20px black;
  border-radius: 10px;
  width: 70%;
  height: 250px;
  margin: 20px 0px;
  padding: 0px 10px;
  transition: 1s;
}


.title1{
  margin-top: 10px;
  font-size: 20px;
  
}
.projects{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  
}
.project-card {
  box-shadow: 1px 1px 20px black;
  width: 80%;
  margin: 20px;
}

.h1{
  font-size: 20px;
  
}
.h2{
  font-size: 30px;
  
}
.contact{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.contact-card{
  box-shadow: 1px 1px 20px;
  margin: 20px 0px;
  width: 80%;
  padding: 15px;
  height: 250PX;
  transition: 2s;
}
footer {
  padding: 10px;
}
footer h3{
  font-size: 15px;
}

.social-media-container-footer a {
  margin: 10px;
  font-size: 15px;
}
 
}
